{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card1" style="align-content: left;background-image: url('https://media.istockphoto.com/id/491347224/es/foto/textura-de-la-pared-de-ladrillo-blanco-cemento.jpg?s=612x612&w=0&k=20&c=imUOjkLiMMVLJpZwNj6LypxVmZLfGXrTE5t889LQVVQ=');">
        <div class="card-body" style="text-align: left; margin-left: 50px;">
            {% block title %} Contacto Portal de arriendos {% endblock title %}
        {% if user.is_authenticated %}
            <h1>Mensajes recibidos</h1>

    <!-- <form method="get">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">

    </form> -->
            <div class="row">
            {% for m in messages %}
                <hr>
                    <ul>
                        <li>Inmueble: {{m.nombre_inmueble}}</li>
                        <li>Correo: {{m.correo}}</li>
                        <li>Nombre remitente: {{m.nombre}}</li>
                        <li>Mensaje: {{m.mensaje}}</li>
                    </ul>
                <hr>
                
            {% endfor %}
            </div>


        <a href="{% url 'logout' %}"">Logout</a>
    
    
        {% else %}
    
            <h1>Debes Iniciar sesion para acceder al contenido</h1>
        <a href="{% url 'login_url' %}"">Login</a>
    
    
    
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}