{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card1" style="background-image: url('https://media.istockphoto.com/id/491347224/es/foto/textura-de-la-pared-de-ladrillo-blanco-cemento.jpg?s=612x612&w=0&k=20&c=imUOjkLiMMVLJpZwNj6LypxVmZLfGXrTE5t889LQVVQ=');">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h4>{{ user.username}} {{tipo}}</h4>
            {% if tipo == "Arrendador" %}
            <br>
                {% for i in inmuebles %}
                    
                    <hr>
                    <div class="card" style="background-color: whitesmoke">
                        <div class="card-body">
                            <li>{{i.nombre_inmueble}}</li>
                            <li>{{i.id_region.nombre_region}}</li>
                            <li>{{i.id_comuna.nombre_comuna}}</li>
                            <a  class='btn btn-dark' href="{% url 'update_inmueble' i.pk%}">Editar</a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#mi-modal-{{ i.pk }}">Borrar</button>
                        </div>
                    </div>
                    
                    
                    
                    <hr>
                <br>
                <!-- Modal -->
                <div class="modal" id="mi-modal-{{ i.pk }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h5 class="modal-title">Borrar Inmueble</h5>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <p>Desea eliminar el inmueble</p>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                <form method="post" action="{% url 'delete_inmueble' i.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>   
                {% endfor %}
                <a href="{% url 'logout' %}"">Logout</a>
            {% else %}
            {% endif%}
    
            {% else %}
    
                <h1>Debes Iniciar sesion para acceder al contenido</h1>
                <a href="{% url 'login_url' %}"">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}