<div  class="container">
  
  <nav class="navbar navbar-expand-lg" style="background-color: greenyellow;">
    <div class="container-fluid">
      {% load static%}
      <a class="navbar-brand" href="#">
        <img src="{% static 'inmobiliaria.png' %}" alt="Logo" width="50px"  class="d-inline-block align-text-left">
        Portal inmobiliario
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" id="text-nav">

            {% if tipo == 'Arrendador'  %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'get_inmuebles' %}">Propiedades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register_inmueble' user.username %}">Registrar propiedad</a>
              </li>
            {% endif %}
              
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
            
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'logout' %}">Cerrar Sesion</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'login_url' %}">Iniciar Sesion</a>
              </li>
            {% endif %}
        </div>
      </div>
    </nav>
  </div>