{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="card1 text-center " style="background-image: url('https://media.istockphoto.com/id/491347224/es/foto/textura-de-la-pared-de-ladrillo-blanco-cemento.jpg?s=612x612&w=0&k=20&c=imUOjkLiMMVLJpZwNj6LypxVmZLfGXrTE5t889LQVVQ=');">
                <div class="card-body" style="text-align: center">
                <h1>
                Perfil {{user.username}}

                </h1>
                <p> 
{% if not perfil %}

                <h3> No se encontro un perfil   </h3>

                <a href="{% url 'register_profile' %}" class="btn btn-warning">Crear Perfil</a>
{% else %}


                <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
                <p>Tipo : {{perfil.tipo_usuario}}</p>
                <p>RUT: {{perfil.rut}}</p>
                <p>Direccion: {{perfil.direccion}}</p>
                <p>Telefono: {{perfil.telefono}}</p>
                <p>Correo: {{perfil.correo}}</p>

                <a href="{% url 'update_profile' %}" class="btn btn-dark " type="submit">Actualizar Perfil</a>




{% endif %}
                </p>
                </div>
        </div>
</div>
{% endblock content %}
