{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row text-center">
        
        <div class="card1" text-center " style="align-content: center;">
            <div class="card-body" style="text-align: center">
            <h1>{{title}}</h1>
        
        
            
                <div class="col  text-center " style="align-content: center;">
                    <form  method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    {{ form.errors}}
                    <button class="btn btn-dark"  type="submit">Actualizar Perfil</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
    