{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row text-center">
        
        <div class="card1 text-center " style="background-image: url('https://media.istockphoto.com/id/491347224/es/foto/textura-de-la-pared-de-ladrillo-blanco-cemento.jpg?s=612x612&w=0&k=20&c=imUOjkLiMMVLJpZwNj6LypxVmZLfGXrTE5t889LQVVQ=');">
            <div class="card-body" style="text-align: center">
            <h1>{{title}}</h1>
        
        
            
                <div class="col  text-center " style="align-content: center;">
                    <form  method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    {{ form.errors}}
                    <button class="btn btn-dark"  type="submit">Actualizar Perfil</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
    